* {
    padding: 0;
    margin: 0;
}

.app {
    height: 100vh;
    overflow: hidden;
}

.containerCard {
    height: 75vh;
    /* overflow-y: scroll; */
    /* border: 1px solid black; */
}

.leaflet-container {
    width: 900px;
    height: 700px;
}

.card:hover {
    background-color: rgba(0, 0, 0, .1);
}
