.container {
    display: flex;
}

.containerCard {
    width: 100%;
    
}

.containerScroll {
    height: 700px;
    width: 100%;
    overflow: scroll;
    
}

.leaflet-container {
    width: 1400px;
    height: 700px;
}

.card {
    display: flex;
    margin: auto;
    padding: 1px;
    border-bottom: 1px solid gray;
    font-size: 12px;
    cursor: pointer;
}

.card:hover {
    background-color: rgb(243, 241, 241);
    padding: 1px;
}


.card-image {
    margin-left: auto;
} 

.inputs {
    padding-left: 20px;

}

.inputSearch{
    height: 25px;
    width: 400px;
}
